<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736040538654-c3b4pc5js1ots0k9t8bo043durk1e1iv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736040538654-c3b4pc5js1ots0k9t8bo043durk1e1iv</string>
	<key>API_KEY</key>
	<string>AIzaSyBUi5ko2D5Db0Z9aUFW7i52YulSiglbf_U</string>
	<key>GCM_SENDER_ID</key>
	<string>736040538654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PJSMK.Projeto</string>
	<key>PROJECT_ID</key>
	<string>projetofirebase-6d130</string>
	<key>STORAGE_BUCKET</key>
	<string>projetofirebase-6d130.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736040538654:ios:ebe0f3d90669da8cba940f</string>
</dict>
</plist>